body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

/* 全局盒模型 */
* {
    box-sizing: border-box;
}

/* 图片 */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* HERO SECTION */
.hero {
    background-image: url('images/好看的背景图片.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* 原来25vh，改大 */
    height: 50vh;
    min-height: 350px;

    display: flex;
    justify-content: center
